In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("adult.data.xls")

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## What country has the highest percentage of people that earn >50k and what is that percentage?

In [5]:
data.loc[data["salary"] == ">50K", "native-country"]

7        United-States
8        United-States
9        United-States
10       United-States
11               India
             ...
32539    United-States
32545    United-States
32554    United-States
32557    United-States
32560    United-States
Name: native-country, Length: 7841, dtype: object

In [35]:
pd_series = data.loc[data["salary"] == ">50K", "native-country"].value_counts()

In [36]:
pd_series

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Poland                  12
Puerto-Rico             12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Yugoslavia               6
Hong                     6
Vietnam                  5
Ireland                  5
Portugal                 4
Ecuador                  4
Haiti                    4
Scotland                 3
Hungary                  3
Guatemala                3
Thailand                 3
Peru                     2
Dominican-Republic       2
Trinadad&Tobago          2
Laos                     2
Nicaragua                2
Columbia                 2
Honduras                 1
Name: native-country, dtype: int64

In [40]:
pd_series.size

40

In [44]:
for i in range(pd_series.size):
    print(pd_series.index[i])

United-States
?
Philippines
Germany
India
Canada
Mexico
England
Italy
Cuba
Japan
China
Taiwan
Iran
South
Poland
Puerto-Rico
France
Jamaica
El-Salvador
Greece
Cambodia
Yugoslavia
Hong
Vietnam
Ireland
Portugal
Ecuador
Haiti
Scotland
Hungary
Guatemala
Thailand
Peru
Dominican-Republic
Trinadad&Tobago
Laos
Nicaragua
Columbia
Honduras

In [47]:
max_of_series = pd_series.max()
max_of_series

7171

In [61]:
for i in range(pd_series.size):
    if pd_series[i] == max_of_series:
        max_of_series_COUNTRY = pd_series.index[i]

In [58]:
pd_series[0]

7171

In [62]:
max_of_series_COUNTRY

'United-States'